<div>
  <h4>Saved Articles</h4>
  {{!--> articles/saved-articles saved=true--}}
  {{#if articles}}
  {{#each articles}} 
  {{!-- {{#each articles.saved}}--}}
  <div class="card mb-4">
    <div class="card-header text-center text-black bg-warning">
      <h5>{{this.title}}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-3 card-img mt-1" alt="Card image">
          <img src="{{this.image}}">
        </div>
        <div class="col-8">
          <h6>Article Summary:</h6>
          <p>{{this.summary}}</p>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-3">
          <h6 class="pt-3 pl-2">Current Comments:</h6>
        </div>
        <div class="col-6">
          {{!-- comments here --}} {{#if articles.note}} {{#each articles.note}}
          <p>{{body}}</p>
          {{/each}} {{else}}
          <p class="mt-3">No comments have been made yet. Feel free to leave one.</p>
          {{/if}}
        </div>
      </div>
      <br>
      <div class="row">
        <a href="{{this.link}}" type="button" class="btn btn-success ml-3 mr-4" target="_blank">Read Article</a>
        <button type="button" class="btn btn-secondary mr-4" id="unsave-article" data-id="{{this._id}}">Remove from Saved Articles</button>
        <button type="button" class="btn btn-secondary mr-4" id="delete-article" data-id="{{this._id}}">Delete Article</button>
        {{!-- this should be a model --}}
        <button type="button" class="btn btn-success mr-4" id="make-comment" data-id="{{this._id}}">Comment</button>
        {{!-- modal not working --}} {{!--
        <button type="button" class="btn btn-secondary mr-2" data-toggle="modal" data-target="#exampleModal">Make Comment</button> --}}
      </div>
    </div>
  </div>
   {{else}}
  <p>No articles have been saved.</p>
  {{/each}}
  {{/if}}
  <div class="modal" id="comment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <form action="/comment/{{articles._id}}" method="POST"></form>
          <div class="modal-body">
            <div class="form-group">
              <label for="comment-input">Type your Comment Here</label>
              <textarea class="form-control" id="comment-input" rows="2"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="save-comment">Save Comment</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>